#Climb {
    height: 100vh;
    display: grid;
    /* grid-template-columns: 15% 1fr 1fr 15%; */
    grid-template-rows: 18% 7% 1fr 10%;
}

#ClimbHeader {
    /* grid-column: 1 / 5; */
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}

#ClimbHeaderFlexContainer {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#ClimbHeader p {
    color: black;
    font-size: 16px;
    margin-left: 1em;
}

#ClimbHeader img:nth-child(2) {
    margin-left: -25px;
    margin-bottom: -25px;
}

#ClimbButtons {
    /* grid-column: 2 / 4; */
    background-color: #414f6b;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
}

#ClimbButtonsFlexContainer {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#ClimbButtons div {
    color: #a0a7b5;
    padding: 0px 15px;
    /* height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px; */
}

.selectedClimb {
    background-color: #b0b4be;
    height: 100%;
}

.selectedClimb p {
    color: #414f6b;;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    font-size: 16px;
    font-weight: 800;
    font-family: Oswald, sans-serif;
}

.climbButton {

}

.climbButton p {
    font-size: 16px;
    font-weight: 800;
    color: #b0b4be;
    font-family: Oswald, sans-serif;
}

#ClimbMain {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
    background-image: url('../images/climb-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 95%;
    

}

#ClimbMainContainer {
    grid-column: 2 / 3;
    height: 100%;
    position: relative;
}

#ClimbMainContainer img {
    position: absolute;
    top: 5%;
    left: 5%;
}

#ClimbFooter {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
    background-color: #414f6b;
}

#ClimbFooterLeft {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    /* width: 100%; */
}

#ClimbFooterRight {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    /* width: 100%; */
}
#ClimbFooterRight p {
    color: #63769d;
    font-size: 16px;
    margin-right: 1em;
    font-family: Lato, sans-serif;
    font-style: italic;
}